.ndc-chevron::before {
    border-style: solid;
    border-width: .25em .25em 0 0;
    content: "";
    display: inline-block;
    height: .3em;
    left: .15em;
    position: relative;
    top: 5px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .3em;
    border-color: #fff;
    box-sizing: initial
}

.ndc-chevron.ndc-right:before {
    left: -1px;
    transform: rotate(45deg);
    top: 10px;
}

.ndc-chevron.ndc-left:before {
    left: 1px;
    transform: rotate(-135deg);
    top: 10px;
}

div#ndp-nepali-box {
    position: absolute;
    top: -999px;
    z-index: 9999
}

div#ndp-nepali-box,div.ndp-nepali-box {
    width: 280px;
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    border: 1px solid #ededed;
    background-color: #fdfefe;
    padding: 2px;
    box-shadow: -7px 15px 10px -17px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 7px 2px rgba(0,0,0,.12);
    border-radius: 15px;
}

div.ndp-nepali-calendar-div div.ndp-nepali-box {
    top: unset!important
}

div#ndp-nepali-box .hidden,div.ndp-nepali-box .hidden {
    display: none
}

div#ndp-table-div {
    margin: 0
}

div#ndp-table-div table {
    border-spacing: 2px;
    border-collapse: separate
}

div.ndp-nepali-box td.ndp-link-disabled a {
    cursor: default!important
}

div#ndp-nepali-box td.ndp-date,div.ndp-nepali-box td.ndp-date {
    padding: 2px;
    /* border: 1px solid #c5dbec; */
    /* background: #dfeffc; */
    color: #2e6e9e
}

div#ndp-nepali-box td.ndp-selected,div.ndp-nepali-box td.ndp-selected {
    border: 1px solid #171717;
    background: #171717;
    color: #fff;
    text-align: center;
    border-radius:5px
}

div#ndp-nepali-box td.ndp-current,div.ndp-nepali-box td.ndp-current {
	padding: 2px;
    border: 1px solid #000000;
    background: #f5f8f9;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
}

div#ndp-nepali-box td.ndp-current a,div.ndp-nepali-box td.ndp-current a {
	color: #000000;
    display: block;
    font-size: 2em;
}

div#ndp-nepali-box td.ndp-date a,div#ndp-nepali-box td.ndp-selected a,div.ndp-nepali-box td.ndp-date a,div.ndp-nepali-box td.ndp-selected a {
    display: block;
    color: #171717 !important;
    text-decoration: none;
    width: 20px;
    text-align: center;
    font-weight: 500;
    padding: 5px;
}

div#ndp-nepali-box td.ndp-selected a, div.ndp-nepali-box td.ndp-selected a {
    color: #ffffff !important;
}

div.ndp-nepali-box td.ndp-selected a {
		color: #ffffff !important;
}

a.ndp-disabled {
    color: #ccc!important
}

div#ndp-nepali-box td.ndp-current:hover,div#ndp-nepali-box td.ndp-date:hover,div.ndp-nepali-box td.ndp-current:hover,div.ndp-nepali-box td.ndp-date:hover {
	padding: 2px;
    background: #f3f3f3;
    border-radius: 10px;
}

div#ndp-nepali-box td.ndp-date a:hover,div.ndp-nepali-box td.ndp-date a:hover {
    color: #1c94c4
}

div#ndp-nepali-box table,div.ndp-nepali-box table {
    width: 100%
}

div#ndp-nepali-box table,div#ndp-nepali-box td,div#ndp-nepali-box tr,div.ndp-nepali-box table,div.ndp-nepali-box td,div.ndp-nepali-box tr {
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    border-collapse: separate;
    border-spacing: 2px
}

div#ndp-nepali-box a,div.ndp-nepali-box a {
    text-decoration: none
}

.ndp-days th,.ndp-header {
	text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}

.ndp-header {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #000;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ndp-next:hover,.ndp-prev:hover {
    background: #2b2b3a;
}

.ndp-next,.ndp-prev {
    display: inline-block;
    width: 2em;
    height: 2em;
    background: #171717;
    border-radius: 50%
}

.ndp-next.ndp-disabled,.ndp-prev.ndp-disabled {
    background: #ccc
}

.ndp-prev {
    left: 7px
}

.ndp-next {
    right: 7px
}

#currentMonth #ndp-month-select,#currentMonth #ndp-year-select {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 9px 0;
    height: 30px;
}

.ndp-corner-all,.ndp-corner-left,.ndp-corner-tl,.ndp-corner-top {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px
}

.ndp-corner-all,.ndp-corner-right,.ndp-corner-top,.ndp-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}

.ndp-corner-all,.ndp-corner-bl,.ndp-corner-bottom,.ndp-corner-left {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.ndp-corner-all,.ndp-corner-bottom,.ndp-corner-br,.ndp-corner-right {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}
